<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../emisor-app/emisor-app.html">
<link rel="import" href="../receptor-app/receptor-app.html">

<dom-module id="demoeventos-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el padre</h2>
    <emisor-app on-eventoa="mellaman"></emisor-app>
    <receptor-app id="recept"></receptor-app>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoeventosApp extends Polymer.Element {
      static get is() { return 'demoeventos-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demoeventos-app'
          },
          datosCurso:{
            type: String,
            value: ''
          }
        };
      }
      mellaman(e){
        console.log("mi hijo me llama")
        console.log(e)
        console.log(e.detail.nombre)
        this.datosCurso=e.detail.nombre + "-" + e.detail.anno
        this.$.recept.asigna(e)
      }
      llamada(){
        this.$.recept.prop2="caca"
      }
    }

    window.customElements.define(DemoeventosApp.is, DemoeventosApp);
  </script>
</dom-module>
