<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el emisor</h2>
    <input  type="text" id="entrada" name="" value="">
    <button on-click="envioevento">Enviar Eventos</button>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Emisorapp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'emisor-app'
          }
        };
      }
     envioevento(e){
       var valor=this.$.entrada.value;
       var evento=new CustomEvent("eventoa",{"detail":{"nombre":"Federico","anno":valor}})
       this.dispatchEvent(evento)
       console.log(e)
       //envioevento(New CustomEvent(e,{datail,{"anno":2019,"curso":"B"}}))
     }
    }

    window.customElements.define(Emisorapp.is, Emisorapp);
  </script>
</dom-module>
