<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="receptor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Soy el receptor   {{prop2}}</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorApp extends Polymer.Element {
      static get is() { return 'receptor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'receptor-app'
          },
          prop2: {
            type:String,
            value:'nada'
          }
        };
      }
      asigna(e){
        console.log(e)
        this.prop2=e.detail.nombre + "-" + e.detail.anno
        //this.setAttribute("prop2","tttttt")
      }
    }

    window.customElements.define(ReceptorApp.is, ReceptorApp);
  </script>
</dom-module>
